body{
margin:0;
background:black;
overflow-x:hidden;
font-family:Arial;
}


/* CONTAINER */
.container{

position:fixed;

top:0;
left:0;

width:100vw;
height:100vh;

overflow:hidden;

z-index:1000;

}


/* SHUTTER */
.shutter{

position:absolute;

top:0;
left:0;

width:100vw;
height:100vh;

background-image:url("shutter.png");

background-size:cover;        /* MOST IMPORTANT */
background-position:center;   /* center align */
background-repeat:no-repeat;

z-index:5;

}

/* IMAGE */
.shutter-img{

position:absolute;

top:0;
left:0;

width:100%;
height:100%;

object-fit:cover;

}


/* TEXT */
.text{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

color:white;

z-index:10;

}


/* SPACE */
.space{

height:300vh;

}

.logo-container{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%, -50%);

z-index:5;

}

.logo-img{
width:35vw;
max-width:550px;
height:auto;
}



.logo-img{

width:500px;     /* adjust size here */

height:auto;

object-fit:contain;

}

